.notes-container-wrap {
  background: var(--bg);
  position: relative;
  z-index: 2;
  margin-top: 50vh;
}
.notes-container {
  padding: 80px 30px 100px;
  max-width:56rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .notes-container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
.notes-post-title {
  text-align: left;
  margin-left: 0;
}
@media (min-width: 1440px) {
  .notes-post-title {
    max-width: 80%;
  }
}