.about-me {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about-me > .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20vh;
  margin-top:  56px;
  width: 100%;
  max-width: 1420px;
}
.about-me > .content > .profile {
  width: 100%;
  order: 2;
}

.about-me > .content > .info {
  margin: 0 0 20px;
}

.about-me .info > .title {
  margin-top: 0;
}
@media (min-width: 768px) {
  .about-me {
    flex-direction: row;
    min-height: 100vh;
  }
  .about-me > .content > .profile {
    margin-bottom: 0;
  }
  .about-me > .content > .info {
    
  }
}
@media (min-width: 1024px) {
  .about-me>.content { 
    margin: 64px 0;
  }
  .about-me > .content > .profile {
    max-width: 768px;
    width: 50%;
    padding-left: 48px;
  }
  .about-me > .content > .info {
    width: 50%;
    padding-right: 48px;
  }
}
