.note-index-container {
  margin: 260px 0 0 0;
  padding-bottom: 240px;
}
.note-card {
  background: rgba(var(--bg-faded),.98);
  color: var(--primary);
  border: 1px dashed var(--primary);
  padding: 2rem;
  margin: 0 auto 3.5rem;
  position: relative;
  text-align: left;
  z-index: 2; 
  width: 90%;
  max-width: 768px;
}
@media (min-width: 768px) {
  .note-card {
    text-align: center;
    padding: 4rem;
  }
}
.note-card .title {
  margin: 0 0 0.875rem;
}
.note-card a[class^="button"] {
  width: 100%;
}
@media (min-width: 768px) {
  .note-card a[class^="button"] {
    width: auto;
    width: fit-content;
    margin: 0 auto;
  }
}
