.note-index-container {
  margin: 200px 0 0 0;
  padding-bottom: 240px;
}
.note-card {
  display: block;
  margin: 0 auto 3.5rem;
  position: relative;
  text-align: left;
  z-index: 2; 
  width: 100%;
  max-width: 500px;
  border: 6px outset var(--primary);
  background: rgba(var(--bg-faded),.9);
  padding: 3rem;
}
a.note-card {
  display: block;
  box-shadow: none;
  width: 100%;
  height: 100%;
  padding: 3rem;
}
/* .note-card > a:not(.window-button) */
@media (hover: hover) {
  a.note-card {
    opacity: 0.96;
  }
  a.note-card:hover {
    background: none;
    opacity: 1;
    
  }
}
.note-card p:last-child {
  margin-bottom: 0;
}
