footer {
    position: fixed;
    z-index: -200;
    bottom: 0;
    width: 100%;
    background-color: #151515;
    background-color: var(--footer-bg);
    color: #ff0;
    color: var(--primary);
    height: 82vh;
    opacity: .8;
}

@media (min-width: 1152px) {
    footer {
        height: 360px;
    }
}
footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
footer .menu {
    display: flex;
    align-items: center;
}
footer a:not([class^="button"]) {        
    line-height: 1;
    color: #ff0;
    color: var(--primary);
}
footer a:not([class^="button"]):hover {
    color: #000;
    color: var(--footer-bg);
}
footer a:not([class^="button"]):active {
    opacity: .9;
}
footer a:visited:not(:hover,:active) {
    color: var(--primary-faded);
    box-shadow:  0 .1em 0 rgba(33, 33, 33, 0.87);
    box-shadow:  0 .1em 0 rgba(var(--bg-faded), .87);
}

footer a:not([class^="button"]) {
    margin-left: 14px;
}
@media (min-width: 1152px) {
    footer a:not([class^="button"]) {
        margin-left: 24px;
    }
}


footer .footer-middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .footer-middle a[class^="button"] {
    width:  12%;
    min-width: 226px;
    margin:  0 .5em 1em;
}
@media (min-width: 1152px) {
    footer .footer-middle a[class^="button"] {
        margin:  0 1em 2em;
    }
}


footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 11px;
    margin-bottom: 12px;
}
@media (min-width: 1152px) {
    footer .footer-bottom {
        margin-bottom:  20px;
    }
}

footer a.rewind {
    font-size: 1em;
    box-shadow: none;
}
footer a.rewind:hover {
    background: none;
    opacity: .8;
}

