footer {
    position: fixed;
    z-index: -200;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: #111;
    color: var(--bg);
    height: 75vh;
}
@media (min-height: 1280px) {
    footer {
        height: 50vh;
    }
}
footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

footer .navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 13px;
    margin-bottom: 4px;
}
@media (min-width: 1152px) {
    footer .navigation {
        margin-bottom:  20px;
    }
}

footer a {
    margin: 0 0 0 1em;
    font-size: 12px;
    line-height: 1;
    color: #111;
    color: var(--bg);
}
footer a:visited:not(:hover,:active) {
    color: var(--bg-faded);
    box-shadow:  0 .1em 0 rgba(17, 17, 17, 0.8);
    box-shadow:  0 .1em 0 var(--bg-faded);
}
footer .local-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media (min-width: 768px) {
    footer .local-navigation {
        flex-direction: row;
        justify-content: space-around;
    }
    footer .local-navigation a {
        margin-left:  0;
        margin-right: 0;
    }
    footer .local-navigation a:last-child {
        margin-right: 0;
    }
}
footer a[class^="button"] {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 24px;
    letter-spacing: .1em;
    background-color: transparent;
    color: var(--bg);
    box-shadow: -0.2em 0.2em 0 #111;
    box-shadow: -0.2em 0.2em 0 var(--bg);
}
footer a[class^="button"]:hover {
    box-shadow: none;
}
footer a[class^="button"]:after,
footer a[class^="button"]:hover:after {
    /* border-width: 2px; */
    background: transparent;
}
@media (min-width: 768px) {
    footer a[class^="button"] {
        width: calc(50% - 20px);
    }
}
@media (min-width: 1152px) {
    footer a[class^="button"] {
        width: calc(33.333333% - 20px);
    }
}
@media (min-width: 1920px) {
    footer a[class^="button"] {
        width: calc(25% - 20px);
        max-width: 420px;
    }
    footer a[class^="button"]:after,
    footer a[class^="button"]:hover:after {
        /* border-width: 3px; */
    }
}
footer a[class^="button"]:hover {    
    color: var(--secondary-faded);
}
footer a[class^="button"]:active {
    background-color: var(--bg);
    color: var(--secondary);
}
footer a[class^="button"]:after,
footer a[class^="button"]:hover:after {
    border-color: var(--bg);
}
footer a[class^="button"]:hover:before {
    background-color: var(--bg-faded);
}

footer .right-nav {
    text-align: right;
}
