.home-container {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (min-width: 768px) {
    .home-container {
        text-align: center;
    }
}
.home-container .latest-info {
    font-weight: normal;
    margin: 0;
}
.home-container p {
    font-style: italic;
}
.home-logo {
    margin: 0;
    position: absolute;
    bottom: 12%;
    width: 80%;
    text-align: left;
}
.home-logo .title {
    letter-spacing: 0.06em;
    margin: 0;
}
@media (min-width: 1152px) {
    .home-logo {
        bottom: 60px;
    }
}
