.home-container {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (min-width: 768px) {
    .home-container {
        text-align: center;
    }
}
.home-container h2 {
    margin: 0;
}
.home-container p {
    font-style: italic;
}
.home-logo {
    margin: 0;
    position: absolute;
    bottom: 30px;
    width: 80%;
    text-align: left;
}
