

.react-draggable {
    transition: all 250ms ease;
    border: 4px solid;
    background-color: #111;
}

.react-draggable:after {
    z-index: -1;
    transition:  opacity 250ms ease;
    content: " ";
    opacity: 0;
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    box-shadow: 0 0 2rem rgba(255, 255, 255, .68);
}
.react-draggable.dragging:after,
.react-draggable.react-draggable-resizing:after {
    opacity: 1;
    /* z-index: 99; */
}
.react-draggable-dragging,
.react-draggable-resizing {
    transition:  none;
}
.react-draggable.dragging .window-content .window-button,
.react-draggable.dragging .window-content video,
.react-draggable:hover .window-content .window-button,
.react-draggable:hover .window-content video {
    opacity: 1;
}

.react-draggable > .window-title {
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    padding-left: .25rem;
    padding-right: 36px;
    position: relative;
    z-index: -1;
}
@media (min-width: 1152px) {
    .react-draggable > .window-title {
        font-size: 13px;
    }
}
.react-draggable > .window-title > .content {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    padding-right: .25rem;
}

.react-draggable > .window-content {
    position: relative;
    width: 100%;
    height: calc(100% - 36px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.react-draggable > .window-content > video {
    transition:  all 250ms ease;
    position: absolute;
    width: 100%;
    transform-origin: top left;
    transform:  scale(1);
    opacity: .26;
    z-index: -1;
}

.react-draggable.collapsed > .window-content {
    opacity: 0;
}
.react-draggable.collapsed > .window-content > video {
    transform: scale(0);
}

.react-draggable > .window-content > .window-button {
   transition: opacity 250ms ease;
   opacity: 0;
}
.react-draggable > .window-content > .window-button:hover + video {
    opacity: .26;
}

.react-draggable a.window-link:hover,
.react-draggable a.window-link:active {
    background: none;
}

.window-resizer-icon {
    font-family: sans-serif;
    font-weight: bold;
    transition: opacity 250ms ease;
    position: absolute;
    font-size: 17px;
    line-height: 21px;
    bottom: 0;
    right: 0;
    width: 26px;
    text-align: right;
    /* text-align: left;
    padding: 0 0 1px 8px;
    transform:  scaleX(-1); */
}
.react-draggable.collapsed .window-resizer-icon {
    opacity: 0;
}

.react-draggable > .window-content h1,
.react-draggable > .window-content h2,
.react-draggable > .window-content h3,
.react-draggable > .window-content h4,
.react-draggable > .window-content h5,
.react-draggable > .window-content h6 {
    margin: 0 0 .5em;
}

/* Collapse */
.window-collapse {
    z-index: 2;
    position: absolute;
    width: 36px;
    height: 36px;
    top: 0;
    right: 0;
    text-align: center;
    cursor: pointer;

}
.window-collapse > .icon {
    display: block;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.window-collapse > .icon:after {
    font-size: 22px;
    line-height: .8;
    content: '—';
}
.window-collapse > input[type=checkbox] {
    opacity: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.window-collapse > input[type=checkbox]:checked + .icon:after {
    content: '+';
    font-size: 22px;
    line-height: .8;
    font-weight: normal;
}


/* Custom Social Media Windows (Twitter, Linkedin, Lastfm) */

.window-twitter > .window-content,
.window-linkedin > .window-content {
    padding: 1px;
    opacity: 0.75;
}

